.section3 {
    background-color: #fff;
}

.section3-top {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: -2rem;
}

.s3-flexItem {
    width: 550px;
    height: auto;
}

.s3-flexItem img {
    width: 100%;
    border-radius: .5rem;
}


.overlay {
    position: relative;
    z-index: 0;
  }
  
  .overlay::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgb(0, 0, 0), rgba(68, 71, 70, 0.445));
      opacity: 1;
      /* !!! */
      z-index: 1;
      border-radius: .5rem;

  }

  .overlay2::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #b4611d, rgba(204, 153, 58, 0.534));
    opacity: 1;
    /* !!! */
    z-index: 1;
}

.overlay3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ffffff, rgba(214, 209, 199, 0.527));
    opacity: 1;
    /* !!! */
    z-index: 1;
}

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 1rem;
  }

.centered h1 {
    color: white;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 2px;
}

.centered p {
    color: white;
    text-align: center;
}

.centered3 h1, .centered3 p {
    color: rgb(39, 35, 35);
}




.centered h2 {
      display: flex; flex-direction: row; justify-content: center; text-align: center; font-size:2vw;
        &:before, &:after {  background-color: #d4cbcb; content: '\a0'; flex-grow: 1; height: 1px; position: relative; top: 0.5em; }
        &:before { margin-right:0.35em; }
        &:after  { margin-left:0.35em; }
        font-size: 1rem;
        padding: 2rem;
        color: white;
}


.centered3 h2 {
    display: flex; flex-direction: row; justify-content: center; text-align: center; font-size:2vw;
      &:before, &:after {  background-color: #1b1a1a; content: '\a0'; flex-grow: 1; height: 1px; position: relative; top: 0.5em; }
      &:before { margin-right:0.35em; }
      &:after  { margin-left:0.35em; }
      font-size: 1rem;
      padding: 2rem;
      color: rgb(27, 26, 26);
}




/* MENTAL HEALTH SERVICES */

.section3-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.s3-bot-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 3rem 0;
    width: 400px;
}

.section3-bottom p {
    width: 80%;
    padding: 1rem;
}

.section3-bottom h1 {
    color: rgb(24, 23, 23);  
    padding: 1rem;  
}

.section3-bottom h2 {
    font-size: 2rem;
    padding: .7rem 1rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.705);
    color: rgb(24, 23, 23);    
}






@media  screen and (max-width:1300px) {
    .section3-top {
        flex-wrap: wrap;
    }
}



@media  screen and (max-width: 940px) {
    
    .s3-flexItem {
        width: 80vw;
    }

    .s3-flexItem {
        width: 100vw;
    }
    
    .c3-card {
        width: 100%;
        text-align: center;
        height: 180px;
    }


    .c3-card-flex {
        display: inline-block;
    }

    .c3-card-flex h2 {
        padding: 0;
        color: rgb(198, 134, 24);
        font-size: 2.5rem;
        background-color: rgba(255, 255, 255, 0);
    }

    
}



